.panel-body .form-group .row {
	display: flex;
}
.align-bottom {
	position: absolute;
	bottom: 0;
}

.icon {
	width: 18px;
	height: 21px;
	margin-right: 6px;
	float: left;
}
.icon.icon-delete {
	background: url("/vendor/translate/img/delete.svg") no-repeat;
}
.icon.icon-edit {
	background: url("/vendor/translate/img/edit.svg") no-repeat;
}
.icon.icon-update {
	background: url("/vendor/translate/img/update.svg") no-repeat;
}
.icon.icon-check {
	background: url("/vendor/translate/img/checked.svg") no-repeat;
}
.icon.icon-restart {
	background: url("/vendor/translate/img/restart.svg") no-repeat;
}

.panel-body+*>.dataTables_wrapper,
.panel-body+.dataTables_wrapper {
	border-top: none;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover,
.dataTables_wrapper .dataTables_paginate .paginate_button {
	border: none !important;
	padding: 0.5em !important;
	box-shadow: inset 0 0 0 transparent !important;
	color: #000 !important;
	opacity: 0.5;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.previous {
	transform: rotate(90deg);
}
.dataTables_wrapper .dataTables_paginate .paginate_button.next {
	transform: rotate(-90deg);
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover,
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
	color: #000 !important;
	opacity: 1.0;
	background: none;
	font-weight: 500;
}

/* scroll */
.dataTables_wrapper.no-footer .dataTables_scrollBody {
	border: none;
}
.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody {
	cursor: pointer;
}
.dataTables_wrapper.no-footer .dataTables_scrollBody::-webkit-scrollbar {
	background-color: #E8EBED;
	height: 4px;
}
.dataTables_wrapper.no-footer .dataTables_scrollBody::-webkit-scrollbar-thumb {
	border-radius: 60px;
	max-width: 100px;
	width: 100px;
	background: #5670FF;
}
.dataTables_wrapper.no-footer .dataTables_scrollBody::-webkit-scrollbar:vertical {
	display: none;
}

table {
	table-layout: fixed !important;
}
.table thead tr th {
	max-height: 48px !important;
	max-width: 320px !important;
	font: 300 14px/19px Roboto;
	text-align: left;
	padding: 0 15px;
	border-right: 1px solid #E5E5E5;
	border-left: none;
	border-bottom: 1px solid #E5E5E5;
	border-top: none;
}
.table thead tr th:last-child {
	border-right: none;
}
.table tbody tr td {
	max-height: 48px !important;
	max-width: 320px !important;
	font: 300 14px/19px Roboto;
	text-align: left;
	padding: 0 15px;
	border-right: 1px solid #E5E5E5;
	border-left: none;
	border-bottom: 1px solid #E5E5E5;
	border-top: none;
}
.table tbody tr td:last-child {
	border-right: none;
}

.field {
	height: 28px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font: 300 14px/19px Roboto;
	position: relative;
	background: transparent;
}

.key-field {
	float: left;
	width: calc(100% - 40px);
	height: 28px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	cursor: default;
	border: none;
}
table.dataTable tbody tr,
table.dataTable thead {
	height: 50px;
	padding: 0;
	padding-bottom: 1px !important;
}
.table .dropdown-toggle-arrow {
	position: absolute;
	top: 0;
	right: 0;
	width: 12px;
	height: 7px;
	background: url("/vendor/translate/img/arrow.svg") no-repeat;
	cursor: pointer;
}
.table.dataTable thead .sorting:before,
.table.dataTable thead .sorting::after,
.table.dataTable thead .sorting_desc:after,
.table.dataTable thead .sorting_asc:after{
	display: none;
}

.table .dropdown-menu-edit .action {
	padding: 6px 6px;
	overflow: hidden;
	white-space: nowrap;
}
.table .dropdown-menu-edit .action:hover {
	background: #E5E5E5;
	cursor: pointer;
	user-select: none;
	-webkit-user-select: none;
}

.dataTables_length {
	margin: 0 0 20px;
}
.dataTables_length select {
	margin: 0 5px;
	padding: 0 10px;
	-moz-appearance:none;
	-webkit-appearance:none;
	appearance:none;
	position: relative;
	width: 50px;
	text-align: center;
}

.badge:empty {
	position: relative;
	display: block;
	height: 27px;
	width: 100%;
}
.badge-active {
	position: absolute;
	left: calc(50% - 13px);
	width: 27px;
	height: 27px;
	border: none;
	background: url("/vendor/translate/img/isActive.svg") no-repeat;
}
.badge-not-active:after {
	content: '';
	position: absolute;
	left: calc(50% - 13px);
	width: 27px;
	height: 27px;
	border-radius: 50%;
	border: 2px solid #6E6E6E;
	background: #fff;
	padding: 0;
}

.key {
	float: right;
	width: 28px;
	height: 28px;
	background: #FCFCFC;
	border-radius: 4px;
	cursor: pointer;
	position: relative;
}
.key::before {
	position: absolute;
	content: "";
	top: 7px;
	left: 7px;
	width: 14px;
	height: 14px;
	background: url("/vendor/translate/img/stretch.svg") center no-repeat;
}
.key:hover {
	background: #536CF5;
}
.key:hover::before {
	background: url("/vendor/translate/img/stretch-active.svg") center no-repeat;
}
.key-field {
	float: left;
	width: calc(100% - 40px);
	height: 28px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	cursor: default;
	border: none;
}

.field {
	height: 28px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font: 300 14px/19px Roboto;
	position: relative;
	background: transparent;
	padding: 3px 6px;
}
.field.td-aproved {
	border: 1.5px solid #8CB302 !important;
}

.field.td-default {
	border: 1.5px solid #1595BA !important;
}

.field.td-warning {
	border: 1.5px solid #EC4439 !important;
}

.modal.show {
	opacity: 1;
}
.modal .modal-dialog {
	top: calc(50% - 276px/2);
}
.modal-backdrop.fade {
	opacity: 0.3;
}
.modal .modal-body div.scroll {
	display: block;
	max-height: 460px;
	overflow-y: auto;
}
.input-xs {
	height: 18px;
	cursor: pointer;
}